<div class="d-flex" id="content-wrapper">
  <p-toast></p-toast>
  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-primary">
    <div class="logo">
      <h4 class="text-light font-weight-bold mb-0">Sistema de Subastas</h4>
    </div>
    <div class="menu">
      <a data-toggle="modal" data-target="#ventanaModalMon" class="d-block text-light p-3 border-0"><i
        class="icon ion-md-tv lead mr-2"></i>
        Monitoreo</a>

      <a data-toggle="modal" data-target="#ventanaModalSub" class="d-block text-light p-3 border-0"><i
        class="icon ion-md-add-circle lead mr-2"></i>
        Nueva Subasta</a>

      <a data-toggle="modal" data-target="#ventanaModalCat" class="d-block text-light p-3 border-0"><i
        class="icon ion-md-bookmark lead mr-2"></i>
        Nueva Categoria</a>

    </div>
  </div>

  <!-- Fin sidebar -->
  <div class="w-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline position-relative d-inline-block my-2">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
          </form>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/user-2.jpg" class="img-fluid rounded-circle avatar mr-2"/>
                Juan Perez
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="modal" data-target="#ventanaModalPerfil">Mi perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login" (click)="cerrarSesion()">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fin Navbar -->

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h1 class="font-weight-bold mb-0">Bienvenido Juan</h1>
              <p class="lead text-muted">Revisa las última subastas del día</p>
            </div>
          </div>
        </div>
      </section>


      <!--Cards de productos-->
      <section class="bg-mix py-3">
        <div class="container text-center">
          <div class="row">
            <div class="col p-2 mt-2" *ngFor="let subasta of subastasBD">
              <p-card header="{{subasta.tituloSubasta}}" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                  <img alt="Card" src="assets/showcase/images/usercard.png">
                </ng-template>
                <p>{{subasta.descripcionSubasta}}</p>
                <ng-template pTemplate="footer">
                  <p-button label="Save" icon="pi pi-check"></p-button>
                  <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
              </p-card>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>

<!--Modal de Categoria-->

<div class="modal" tabindex="-1" id="ventanaModalCat">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Categoria</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Layout-->
        <div class="mb-3">
          <label for="nombreCategoria" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombreCategoria" placeholder="Ingrese el nombre categoría">
        </div>

        <div class="mb-3">
          <label for="descripcionCategoria" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="descripcionCategoria" placeholder="Ingrese descripcion">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Agregar Categoría</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Subasta-->

<div class="modal" tabindex="-1" id="ventanaModalSub">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Subasta</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Layout-->

        <form class="row g-3" [formGroup]="formNuevaSubasta">

          <div class="text-center">
            <img src="assets/add_photo.png" class="img-fluid rounded-circle" width="130px"/>
          </div>
          <input class="form-control" type="file" id="archivo" formControlName="imagenSubasta">

          <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" formControlName="tituloSubasta">
          </div>
          <div class="col-md-6">
            <label for="inputFechI" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control" id="inputFechI" formControlName="fechaInicioSubasta">
          </div>

          <div class="col-md-6">
            <label for="inputDes" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="inputDes" formControlName="descripcionSubasta">
          </div>

          <div class="col-md-6">
            <label for="inputFech" class="form-label">Fecha de cierre</label>
            <input type="date" class="form-control" id="inputFech" formControlName="fechaFinSubasta">
          </div>

          <div class="col-md-6">
            <label class="form-label">Servicio solicitado</label>
            <br>
            <p-dropdown
              [options]="serviciosBD"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Seleccione un servicio"
              optionLabel="name"
              formControlName="servioSolicitado">
            </p-dropdown>
          </div>

          <div class="col-md-6">
            <label for="inputHc" class="form-label">Hora de cierre</label>
            <input type="time" class="form-control" id="inputHc" formControlName="horaCierreSubasta">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearSubasta()">Agregar Subasta</button>
      </div>
    </div>
  </div>
</div>


<!--Modal de Monitoreo-->

<div class="modal" tabindex="-1" id="ventanaModalMon">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Monitoreo de Subastas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio Ofrecido</th>
            <th scope="col">Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Servicio Electrico</td>
            <td>El mejor servicio electrico del Austro</td>
            <td>Electricidad</td>
            <td>$35.00</td>
            <td>
              <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-success me-md-2" type="button">Contratar</button>
                <button class="btn btn-danger" type="button">Eliminar</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Monitoreo</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Subastas Activas-->

<div class="modal" tabindex="-1" id="ventanaModalSubAct">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subastas Activas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Servicio Electrico</td>
            <td>El mejor servicio electrico del Austro</td>
            <td>Electricidad</td>
            <td>$35.00</td>
            <td>
              <button class="btn btn-success" type="button">Activo</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal de Subastas Cerradas-->

<div class="modal" tabindex="-1" id="ventanaModalSubCer">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subastas Cerradas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Servicio Electrico</td>
            <td>El mejor servicio electrico del Austro</td>
            <td>Electricidad</td>
            <td>$35.00</td>
            <td>
              <button class="btn btn-danger" type="button">Cerrado</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal de Subastas Realizadas-->

<div class="modal" tabindex="-1" id="ventanaModalSubRea">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subastas Realizadas</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Fecha Cierre</th>
            <th scope="col">Hora Cierre</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Add img</td>
            <td>Servicio Electrico</td>
            <td>El mejor servicio electrico del Austro</td>
            <td>Electricidad</td>
            <td>20/11/2022</td>
            <td>20/11/2022</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--Modal de Servicios Contratados-->

<div class="modal" tabindex="-1" id="ventanaModalSerCon">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Servicios Contratados</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha Contratacion</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Servicio Electrico</td>
            <td>El mejor servicio electrico del Austro</td>
            <td>Electricidad</td>
            <td>$35.00</td>
            <td>Marco Lopez</td>
            <td>20/11/2022</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal de Pefil de Usuario-->

<div class="modal" tabindex="-1" id="ventanaModalPerfil">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Perfil de Usuario</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <form class="row g-3">
          <div class="text-center">
            <img src="assets/user-2.jpg" class="img-fluid rounded-circle" width="130px"/>

          </div>
          <div class="col-md-6">
            <label for="inputNombreP" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombreP">
          </div>
          <div class="col-md-6">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputTelefono">
          </div>

          <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido">
          </div>

          <div class="col-md-6">
            <label for="inputUsuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario">
          </div>

          <div class="col-md-6">
            <label for="inputDireccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion">
          </div>

          <div class="col-md-6">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="inputPassword">
          </div>

          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ventanaModalPerfil2">Actualizar Informacion</button>
      </div>
    </div>
  </div>
</div>


<!--Modal de ACTUALIZARR Pefil de Usuario-->

<div class="modal" tabindex="-1" id="ventanaModalPerfil2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Perfil de Usuario</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla-->
        <form class="row g-3">
          <div class="text-center">
            <img src="assets/user-2.jpg" class="img-fluid rounded-circle" width="130px"/>
          </div>
          <input class="form-control" type="file" id="archivo2">
          <div class="col-md-6">
            <label for="inputNombreP2" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombreP2">
          </div>
          <div class="col-md-6">
            <label for="inputTelefono2" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputTelefono2">
          </div>

          <div class="col-md-6">
            <label for="inputApellido2" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido2">
          </div>

          <div class="col-md-6">
            <label for="inputUsuario2" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUsuario2">
          </div>

          <div class="col-md-6">
            <label for="inputDireccion2" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputDireccion2">
          </div>

          <div class="col-md-6">
            <label for="inputPassword2" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="inputPassword2">
          </div>

          <div class="col-md-6">
            <label for="inputEmail2" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail2">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de Contratar servicios-->

<div class="modal" tabindex="-1" id="ventanaModalSubastar">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pugar Servicio</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!--Tabla-->

        <img class="mx-auto d-block" src="assets/elec1.png" width="200px" height="200px">
        <br>

        <form class="row g-3">
          <div class="row mb-3">
            <label for="nomSer" class="col-sm-2 col-form-label col-form-label-sm">Servicio:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="nomSer" placeholder="Servicio Electrico">
            </div>
          </div>

          <div class="row mb-3">
            <label for="desServicio" class="col-sm-2 col-form-label col-form-label-sm">Descripcion:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="desServicio"
                     placeholder="El mejor servicio electrico del Austro.">
            </div>
          </div>

          <div class="row mb-3">
            <label for="fechaPub" class="col-sm-2 col-form-label col-form-label-sm">Publicacion:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="fechaPub" placeholder="15/11/2022">
            </div>
          </div>

          <div class="row mb-3">
            <label for="fechaEnd" class="col-sm-2 col-form-label col-form-label-sm">Cierre Subasta:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="fechaEnd" placeholder="23/11/2022">
            </div>
          </div>

          <!--Precio y boton de ofertar-->
          <div class="col-md-6">
            <label for="inputPrecioS" class="form-label">Ingresar Precio</label>
            <input type="text" class="form-control" id="inputPrecioS">
          </div>
          <div class="col-md-6">
            <label for="inputOa" class="form-label">Interactuar</label>
            <button type="button" class="btn btn-primary form-control " id="inputOa">Ofertar Ahora</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
