<div class="wrapper fadeInDown " style="min-height: 100vh">

  <div id="formContent">
    <!-- Tabs Titles -->
    <br>
    <h1 class="text-center">Registro</h1>
    <br>

    <form>
      <input type="text" id="username" name="username" class="fadeIn second" placeholder="Usuario" >
      <input type="text" id="email" name="email" class="fadeIn second" placeholder="Email" >
      <input type="password" id="password" name="password" class="fadeIn third" placeholder="Contraseña">
      <br>
      <input type="submit" name="Login" id="go" class="fadeIn fourth" value="Registrarse" routerLink="/dashboard">
      <br>
      <a mat-button color="primary" routerLink="/login">Volver al Inicio de Sesion</a>
    </form>

  </div>
</div>
