<div class="wrapper fadeInDown " style="min-height: 100vh">

  <div id="formContent">
    <!-- Tabs Titles -->
    <br>
    <h1 class="text-center">Iniciar Sesion</h1>
    <br>
    <form>
      <input type="text" id="email" name="username" class="fadeIn second" placeholder="Usuario">
      <input type="password" id="password" name="password" class="fadeIn third" placeholder="Contraseña">
      <input type="submit" name="Login" id="go" class="fadeIn fourth" value="INICIAR SESIÓN" routerLink="/dashboard">

      <a mat-button color="primary" routerLink="/">Salir</a>
      <br>
      <a mat-button color="primary" routerLink="/sign-up">¿Aun no tienes una cuenta? Registrate Ahora</a>
    </form>

  </div>
</div>
